body {
	color: white;
	background-color: #9c9f84;
	background-image: url(rivier.png);
	background-size:cover;
}
h1 {
	color: black;
	text-align: center;
	background-color: gray; 
	padding-top: 20px;
	padding-bottom: 20px;
    font-size: 35px
}
ul{
	color: white;
	text-align: center;
	background-color: gray;
	list-style-type: none;
}

p{
   color: #d63031;
   font-size: 28px;

}

img{
	border-color: red;
    border: solid 5px;
    border-right: 50px;
    width: 250px;
    margin-right: 1000px;
}